        </main>
        <footer>
            <div class="content-footer">
                <div class="copyright">
                    © 2025 WellnessSphere
                </div>
                <div class="menu-bar">
                    <a href="/home" class="link-foot">Home</a>
                    <a href="/article" class="link-foot">Article</a>
                    <a href="/contact" class="link-foot">Contact</a>
                </div>
            </div>
        </footer>
        <script src="/scripts/underLine.js"></script>
        <script src="/scripts/toggle.js"></script>
        <script src="/scripts/formHandler.js"></script>
        <script src="/scripts/fileHandler.js"></script>
    </body>
</html>