<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="<%= styles %>">
    <title>WellnessSphere</title>
</head>
    <body>
        <main>
        <!-- Header: Navbar -->
        <section id="header">
            <nav>
            <div class="logo">
                <a href="/home">
                    <img src="./assets/logo.png" alt="Logo" />
                </a>
            </div>
            <ul>
                <li class="nav-item">
                <a href="/home">Home</a>
                </li>
                <li class="nav-item">
                <a href="/article">Article</a>
                </li>
                <li id="outline-button">
                <a href="/sign-in">Sign In</a>
                </li>
                <li id="primary-button">
                <a href="/sign-up" id="text-sign-up">Sign Up</a>
                </li>
            </ul>
            <div class="menu-toggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            </div>
            </nav>
        </section>