<!-- Header: Navbar -->
<!-- <section id="header">
  <nav>
    <div class="logo">
      <img src="./assets/logo.png" alt="Logo" />
    </div>
    <ul>
      <li class="nav-item">
        <a href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a href="/article">Article</a>
      </li>
      <li id="outline-button">
        <a href="/sign-in">Sign In</a>
      </li>
      <li id="primary-button">
        <a href="/sign-up" id="text-sign-up">Sign Up</a>
      </li>
    </ul>
    <div class="menu-toggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</section> -->

<!-- Hero: Content -->
<section id="hero">
  <div class="hero-content">
    <div class="col">
      <div class="image">
        <img src="./assets/national-cancer-institute-701-FJcjLAQ-unsplash.jpg" alt="Hero" />
      </div>
      <div class="content">
        <h1>Your Health, Their Mission: Honoring Medical Professionals</h1>
        <p class="hero-paraf">
          Behind every life saved, there’s a dedicated medical team working tirelessly. We honor the passion, resilience, and commitment of healthcare professionals who make a difference every day. Your health is their mission, and their
          dedication shapes the future of global healthcare.
        </p>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img src="./assets/total-shape-Ianw4RdVuoo-unsplash.jpg" alt="Hero" />
      </div>
      <div class="content">
        <h1>Prioritizing Mental Health: A Global Call to Action</h1>
        <p class="hero-paraf">
          Mental health is no longer a silent issue—it's a global priority. With rising awareness and initiatives from WHO and leading organizations, the world is uniting to break the stigma and provide better support systems. Whether it's
          workplace stress, social pressure, or post-pandemic anxiety, taking care of mental well-being is essential for a healthier future. Stay informed, seek help, and be part of the movement for better mental health care worldwide.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Sub Hero : Content -->
<section id="sub-hero">
  <div class="sub-content">
    <div class="col-sub">
      <div class="image-sub"><img src="./assets/daiga-ellaby-JZ51o_-UOY8-unsplash.jpg" alt="kids playing in the rain" /></div>
      <div class="content-sub">
        <h2>The Future of Health: Outdoor Play for Children's Well-being</h2>
        <p class="sub-paraf">
          Spending time outdoors is crucial for children's physical and mental health. According to recent WHO studies, outdoor activities boost immunity, enhance motor skills, and improve emotional well-being. Encouraging kids to explore
          nature helps build a healthier future.
        </p>
      </div>
    </div>
    <div class="col-sub">
      <div class="image-sub">
        <img src="./assets/usman-yousaf-tKIeV6v_WM8-unsplash.jpg" alt="flu" />
      </div>
      <div class="content-sub">
        <h2>Air Quality Crisis: Protecting Your Health</h2>
        <p class="sub-paraf">Outdoor play strengthens children's immunity, motor skills, and mental well-being, shaping a healthier future.</p>
      </div>
    </div>
  </div>
</section>
