<section id="hero-content">
  <div class="hero">
    <h1>✍️ Hey there! I love reading books, but I often forget the important parts.</h1>
    <p>
      I’ve always loved reading — but sometimes I forget the best parts of the books I read So I started writing down the highlights, ideas, and lessons that really stuck with me This site is my little reading corner where I keep those
      notes, ratings, and when I read each book Feel free to look around, search for a book, or filter the list to find something interesting Hope you find something useful — or maybe your next favorite read
    </p>
  </div>
</section>
