<section id="footer">
    <p class="copyright">
        © 2025 Book Bites. All rights reserved.
    </p>
</section>
<script src="/script/editNotes.js"></script>
<script src="/script/searchBox.js"></script>
<script src="/script/orderBy.js"></script>
</body>
</html>